@charset "UTF-8";
/* CSS Document */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
}

select {
  font-size: 14px;
}

input {
  font-size: 14px;
}

body {
	overflow: hidden;
	background-color: #D9E0E0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

.back {
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
}


/* Header Nav */
.navbar {
	background: #FFFFFF;
	border-bottom: 0px;
	box-shadow: 1px -2px 17px 0px rgba(0,0,0,0.34);
	height: 63px;
  z-index: 40;
  position: fixed;
  width: 100vw;
}

.container {
	width: 100%;
}

.navbar-brand {
	padding:0px;
  padding-left: 20px;
}

.header-cc-hammer-img {
  height: 18px;
  display: inline-block;
  margin-bottom: -2px;
}

.header-help {
	color: #65D35B;
}

.header-central {
	color: #666;
  margin-left: -4px;
}

.header-help, .header-central {
	font-family: HelveticaNeue-Bold;
	font-size: 18px;
	letter-spacing: 0.31px;
	line-height: 63px;
  	margin-left: -4px;
}

.main-nav-container {
	float: right;
	height: 63px;
}

.nav-container {
	display: inline-block;
	height: 63px;
	width: 63px;
	border-left: 1px solid #F2F3F3;
	float: right;
	position: relative;
}

.nav-container:nth-child(3) {
	border-left: 0px;
}

.icon {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Sidebar Nav */

.sidebar_nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    width: 80px;
    height: calc(100% - 63px);
    overflow: auto;
    min-height: 550px;
    padding-top: 63px;
    background: #FFFFFF;
    box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.07);
}

.sidebar-nav-container:hover {
	background-color: #666;
}

.sidebar-link:hover {
  	text-decoration: none;
}

.sidebar-nav-container {
    height: 80px;
	width: 80px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
  	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sidebar-nav-container-header {
    height: 100%;
	width: 80px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
  	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sidebar-nav-container-header:hover {
	background-color: #666;
}

.sidebar-link:hover {
	color:#FFFFFF;
}

.sidebar-link {
	color:#666;
}

.help-menu-container {
    width: 275px;
    height: 100vh;
    position: absolute;
    right: -275px;
    top: 0px;
    background: #666;
    z-index: 25;
    box-shadow: 1px -2px 17px 0px rgba(0,0,0,0.34);
    animation-direction:normal;
    transition-timing-function: ease;
    transition-duration: 1s;
}

.help-menu-animate {
    right: 0px;
}

.main_container_clearfix {
  	position: fixed;
  	top: 0;
    width: calc(100vw - 80px);
    height: calc(100vh - 63px);
  	padding-left: 80px;
    padding-top: 63px;
  	background-image: url("./images/background.jpg");
  	background-size: 100%;
}

.main_container {
	 width: calc(100% - 30px);
	 height: 100%;
	 padding: 15px;
   display: inline-table;
}

.content-container {
	  background-color: white;
  	width: 100%;
  	height: 100%;
}

.chat_container {
	 width:  calc(100% - 30%);
	 height: 100%;
	 min-height: 200px;
	 background-color: white;
	 background: white;
	 box-shadow: 1px 4px 13px 0px rgba(0,0,0,0.06);
   position: relative;
   padding-left: 30%;
}
/* For Product 01-10-2016 */
.product-card-container {
  float: left;

}

/*   Collections Menu    */

.collection-sidebar-container {
	width: 30%;
  	height: 100%;
  	position: absolute;
    background: white;
  	left: 0px;
  	top: 0;
  	box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.07);
  	padding-top: 80px;
  	z-index: 10;
}

.collection_title_selector {
	width: 90%;
	margin: auto;
	padding-left: 5%;
	padding-right: 5%;
	height: 80px;
	position: absolute;
    background-color: white;
    top: 0;
	z-index: 5;
}

.collection_title_header {
	  width: 100%;
	  margin: auto;
	  height: 80px;
	  position: absolute;
    top: 0;
	  z-index: 9;
  	margin-right: 30px;
  	position: relative;
  	background-color: #F8F9F9;
}

.collection_title_container {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #65D35B;
	text-align: center;
}

.collection_title_container-active {
	width: 100%;
	height: 100%;
	text-align: center;
}

.collection_title_header_container {
	width: 30.5%;
	height: 80px;
	position: relative;
  	margin: auto;

}

.pagination-clearfix {
	width: 30.5%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    position: absolute;
  	right: 20px;
}

.collection_title_text {
	line-height: 80px;
	font-family: HelveticaNeue-Bold;
	font-size: 16px;
	color: #666;
	letter-spacing: 0.82px;
	text-transform: uppercase;
}

.chat_selector_overflow_container{
	position:absolute;
	width: 100%;
	top: 0;
    padding-top: 80px;
    height: 100%;
}

.chat_selector_overflow{
	width: 100%;
	overflow:scroll;
    height: 100%;
}

.chat_select_container {
	width: calc(100% - 30px);
	height: 75px;
	padding:15px;
	padding-bottom: 0px;
}

.chat_select_container:hover {
	background-color: #65D35B;
	background-image: url("./images/menu-background.png");
	background-size: 100%;
	background-repeat: no-repeat;

}

.add-new-caption-container {
    width: calc(100% - 30px);
    height: 75px;
    padding: 15px;
    padding-bottom: 0px;
}

.chat_personal_info_container {
	width: auto;
	height: 75px;
	border-bottom: 1px solid #F2F3F3;
}

.chat_select_container:hover .chat_personal_info_container {
	border-bottom: 0px;
}


.chat_user_info {
	display: inline-block;
	width: auto;
	height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
	float: left;
  	padding-left: 10px;
}

.collection_list_text {
	font-family: HelveticaNeue-Medium;
	font-size: 18px;
	color: #666;
	letter-spacing: 0.41px;
	line-height: 40px;
	display: block;
	width: 100%;
  	text-transform: uppercase;
}

.chat_select_container:hover .collection_list_text {
	color: white;
}
.notification-container {
	width: 60px;
	height: 60px;
	float: right;
	position: relative;
}

.chat_notification_container {
	float: right;
	background: #666;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin: 10px;
	text-align:center;
}

.notif_number {
	font-family: HelveticaNeue-Bold;
	font-size: 14px;
	line-height: 40px;
	color: #FFFFFF;
	letter-spacing: 0.87px;
	display: block;
}

.paginate-style {
	list-style-type: none;
    display: inline-flex;
    padding-left: 0px;
}

.chat_select_container:hover .chat_notification_container {
	background-color: #D577C3;
}

.chat_select_container:hover .dashboard-menu-icon-circle {
	background-color: #D577C3;
}

.paginate-list {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
  line-height: 30px;
  border-radius: 3px;
}

.disabled-previous-page {
	display: none;
}

.paginate-link {
	 color:#666;

}

.paginate-link-active {
	 color:#65D35B;
  	 font-weight: 700;

}

.paginate-link:hover {
	 text-decoration: none;
  	 color:#65D35B;
     font-weight: 700;
}
/*   Product Cards    */


.product-grid-container {
	  width: 100%;
    height: calc(100% - 80px);
  	background: #F8F9F9;
  	position: relative;
}

.product-grid-overflow-container {
  box-sizing: border-box;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 15px;
  position: relative;
  width: 100%;
}

.product-card-clearfix {
  	margin-bottom: 10px;
  	display: inline-block;
  	width: calc(33% - 1px);
  	padding-left: 5px;
  	padding-right: 5px;
  	height: 100%;
  	max-height: 320px;
	  box-sizing: border-box;
    position: relative;
}

.product-card-container {
  background: white none repeat scroll 0 0;
  box-shadow: 1px -2px 17px 0 rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}

.product-card-image-container {
	  width: 100%;
  	height: 100%;
  	max-height: 220px;
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
    position: relative;
}

.product-card-image-container-background-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 63px);
    opacity: 0.9;
    background: white;
    z-index: 5;
    display: none;
}


.product-card-image-container-content-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 12px);
    height: calc(100% + 54px);
    text-align: center;
    z-index: 10;
    padding: 6px;
    position: relative;
    padding-bottom: 0px;
    display: none;
}

.product-card-details-section {
	  width: 100%;
  	height: 76px;
  	padding: 10px 0px;
  	overflow: hidden;
}

.product-title-text {
  	word-wrap: normal;
    font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #666;
    letter-spacing: 0.82px;
    text-transform: uppercase;
}

.product-icon-container {
    background: #65D35B;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align:center;
    margin: auto;
}

.product-icon-clearfix {
    font-family: HelveticaNeue-Bold;
    font-size: 14px;
    line-height: 40px;
    color: #FFFFFF;
    letter-spacing: 0.87px;
    display: block;
}

.product-card-details-container {
	  width: 100%;
  	height: 100%;
  	text-align: center;
  	position: relative;
}

.product-details-container {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card-price-container {
	  position: absolute;
  	width: 100%;
  	height: 18px;
  	bottom: 10px;
}

.product-card-price-text {
    color: #666;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.preview-button-container {
	  width: 100%;
    height: 43px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 6;
}

.preview-button {
  	border: 1px solid #666;
  	padding: 11px 20px;
  	position: absolute;
  	bottom: 0px;
  	left: 0px;
  	right: 0px;
    font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #666;
    letter-spacing: 0.82px;
    text-transform: uppercase;
  	background: white;
    width: calc(100% - 40px);
    cursor: pointer;
    width: 100%;
}

.preview-button:hover {
  	border: 1px solid #666;
	  background: #666;
    color: white;
  	text-decoration: none;
    cursor: pointer;
}

.share-button-container {
	width: 100%;
    height: 65px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.share-button {
  	border: 1px solid #65D35B;
  	padding: 11px 20px;
  	position: absolute;
  	bottom: 20px;
  	left: 20px;
  	right: 20px;
  	font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #65D35B;
    letter-spacing: 0.82px;
    text-transform: uppercase;
  	background: white;
    width: calc(100% - 40px);
    cursor: pointer;
}

.share-button:hover {
  	border: 1px solid #65D35B;
	  background: #65D35B;
    color: white;
  	text-decoration: none;
    cursor: pointer;
}


/* ------------ Collections Header --------------- */

.collection_header_container {
	height: 80px;
  	width: 100%;
  	background-color: white;
  	box-shadow: 1px -2px 17px 0px rgba(0,0,0,0.34);
}

.collection-share-history-container {
	position: absolute;
  	left: 20px;
  	display: inline-block;
  	width: 30.5%;
  	height: 100%;
 	display: flex;
    align-items: center;
  	justify-content: center;
}

.collection-header-search-clearfix {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
}

.collection-header-search-bar-container {
	background-color: white;
	width: 100%;
	height: 100%;
  	box-shadow: 1px -2px 17px 0px rgba(0,0,0,0.14);
}

.search-form {
	width: 100%;
  	height: 100%;
  	position: relative;
  	display: flex;
    align-items: center;
}

.search-text-box {
	width: 100%;
  	height: 40px;
  	border: 0px;
  	border-bottom: 1px solid #65D35B;
  	padding-left: 10px;
}

.search-text-box::-webkit-input-placeholder {
	color: #666;
}

.search-icon-button {
	position: absolute;
	right: 10px;
  	background: transparent;
  	border: 0px;
}

input[type="submit"] {
    font-family: FontAwesome;
  	color: #666;
  	font-size: 14px;
}

textarea:focus, input:focus{
    outline: none;
}

.active {
	background-color: #65D35B !important;
	background-image: url("{{ 'button.png' |  asset_url }}");
	background-size: 100%;
	background-repeat: no-repeat;

}

.active-text {
	color: white;
}

.active-border {
	border: 0px;
}

.active-counter {
	background: #D577C3;
}

a:hover {
    color: #666;
    text-decoration: none;
}

.share-history-button {
	color: #666;
}

.share-history-button:hover {
	color: #65D35B;
}

/* --------------- BUILDER PAGE ---------------------- */

.caption-header-container {
    width: auto;
    height: 100%;
    margin: auto;
  	height: 100%;
}

.builder-title-header-container {
	width: auto;
  	display: inline-block;
  	margin-left: 50px;
}

.caption-title-text {
	line-height: 80px;
	font-family: HelveticaNeue-Bold;
	font-size: 16px;
	color: #666;
	letter-spacing: 0.82px;
	text-transform: uppercase;
  	margin-right: 20px;
}

.caption-title-text-box {
	width: auto;
  	height: 40px;
  	border: 0px;
  	border-bottom: 1px solid #65D35B;
  	font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #666;
    letter-spacing: 0.82px;
    text-transform: uppercase;
}

.caption-title-text-box::-webkit-input-placeholder {
	color: #666;
  	font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #666;
    letter-spacing: 0.82px;
    text-transform: uppercase;
}

.builder-save-button-container {
	float: right;
  	width: auto;
  	margin-right: 50px;
  	height: 100%;
  	display: flex;
    align-items: center;
}

.save-button {
	border: 1px solid #65D35B;
  	padding: 11px 20px;
  	font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #65D35B;
    letter-spacing: 0.82px;
    text-transform: uppercase;
  	background: white;
}

.save-button:hover {
	border: 1px solid #65D35B;
	background: #65D35B;
    color: white;
  	text-decoration: none;
}


.builder-main-conatiner {
	  width: calc(100% - 60px);
  	background-color: white;
  	box-shadow: 1px -2px 17px 0px rgba(0,0,0,0.14);
  	padding: 15px 30px;
  	margin-bottom: 20px;
}

.builder-main-conatiner:last-child {
  	margin-bottom: 0px;
}

.builder-main-clearfix {
	  width: 100%;
  	height: auto;
	  border-bottom: 1px solid #eee;
    padding: 20px 0px;
}

.builder-conditions-container {
	  width: 100%;
  	height: 46px;
  	display: flex;
  	justify-content: space-between;
}

.conditions-title {
	  line-height: 46px;
  	font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #666;
    letter-spacing: 0.82px;
    text-transform: uppercase;
  	width: 100%;
}

.conditions-title:hover {
	 color: #65D35B;
}

.condition-allorany-clearfix {
	  width: 100%;
  	height: 46px;
  	display: flex;
  	justify-content: space-between;
  	line-height: 46px;
}

.condition-allorany-container-s {
	width: 31%;
  	height: 46px;
  	text-align: center;
}

.conditions-container-s {
  	width: 31%;
  	height: 46px;
}

.condition-select {
	width: 100%;
  	height: 46px;
}

.select-style {
    border: 1px solid #666;
    overflow: hidden;
    background: white url("https://cdn.shopify.com/s/files/1/1484/1256/files/arrow-down.png?9258385709659661406") no-repeat 95% 50%;
  	background-size: 16px 16px;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
  	margin-left: 11px;
}

.select-style select:focus {
    outline: none;
}

.select-style:hover {
  	border: 1px solid #65D35B;
}

.condition-input {
	width: 100%;
  	height: 46px;
  	padding-left: 10px;
  	border: 1px solid #666;
}

.condition-input:hover {
  	border: 1px solid #65D35B;
}

.add-condition-button {
	border: 1px solid #666;
  	padding: 11px 20px;
  	font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #666;
    letter-spacing: 0.82px;
    text-transform: uppercase;
  	background: white;
  	width: 100%;
}

.add-condition-button:hover {
    color: white;
  	background: #666;
}

form {
    margin-bottom: 0px;
}

.product-grid-container.scroll-grid {
  overflow: scroll;
}

.unshare-button {
  background: white none repeat scroll 0 0;
  border: 1px solid #65d35b;
  bottom: 20px;
  color: #65d35b;
  font-family: HelveticaNeue-Bold;
  font-size: 16px;
  left: 20px;
  letter-spacing: 0.82px;
  padding: 11px 20px;
  position: absolute;
  right: 20px;
  text-transform: uppercase;
  width: calc(100% - 40px);
}

/* ------------------------ Dashboard ------------------------------------*/

.dashboard-menu-icon-container {
  width: 60px;
  height: 60px;
  float: right;
  position: relative;
}

.dashboard-menu-icon-circle {
    float: left;
    background: #666;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-menu-icon {
    font-family: HelveticaNeue-Bold;
    font-size: 14px;
    line-height: 40px;
    color: #FFFFFF;
    letter-spacing: 0.87px;
    display: block;
}

.feed-product-main-conatiner {
    /*width: calc(100% - 60px);*/
    max-width: 800px;
    margin: auto;
    background-color: white;
    box-shadow: 1px -2px 17px 0px rgba(0,0,0,0.14);
    padding: 15px 30px;
    margin-bottom: 20px;
    width: 100%;
}

.feed-product-main-clearfix {
    width: 100%;
    height: 46px;
    position: relative;
}

.feed-product-image {
    width: 46px;
    height: 46px;
    border-radius: 5px;
    display: inline-block;
    float: left;
    position: relative;
}

.feed-product-image-zoom {
  position: absolute;
  left: -22px;
  top: -20px;
  width: 86px;
  height: 86px;
  border-radius: 5px;
  display: none;
}

.feed-product-image:hover .feed-product-image-zoom {
  display: block;
}

.feed-product-titledate-container {
  float: left;
  display: inline-block;
  width: auto;
  height: 46px;
  padding-left: 10px;
}

.feed-product-title-container {
  height: 23px;
  width: auto;
}

.feed-product-title {
  line-height: 23px;
  font-family: HelveticaNeue-Bold;
  font-size: 16px;
  color: #666;
  letter-spacing: 0.82px;
  text-transform: uppercase;
}

.feed-product-date-container {
  height: 23px;
  width: auto;
}

.feed-product-date {
  line-height: 23px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #666;
}

.feed-upnext-container {
    /*width: calc(100% - 60px);*/
    padding: 15px 30px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.feed-upnext-clearfix {
    width: 100%;
    height: 30px;
}

.feed-product-sharenow-container {
  position: absolute;
  right: 0px;
  width: auto;
}

.feed-product-sharenow-button {
    border: 1px solid #65D35B;
    padding: 12px 20px;
    font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #65D35B;
    letter-spacing: 0.82px;
    text-transform: uppercase;
    background: white;
    cursor: pointer;
}

.feed-product-sharenow-button:hover {
    color: white;
    background: #65D35B;
}

.feed-product-preview-button {
    border: 1px solid #666;
    padding: 12px 20px;
    font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #666;
    letter-spacing: 0.82px;
    text-transform: uppercase;
    background: white;
    cursor: pointer;
    margin-right: 10px;
}

.feed-product-preview-button:hover {
    color: white;
    background: #666;
}
